.row {
  display: flex;
  padding: 40px;
  /* border: 1px solid red; */
  justify-content: space-between;
  column-gap: 80px;
  color: rgb(157, 40, 189);
}
.subtitle {
  font-size: 24px;
  color: rgb(116, 113, 113);
}

.title {
  font-weight: 800;
  font-size: 48px;
  color: rgb(64, 63, 63);
  margin: 16px 0px 16px 0px;
}
.note {
  font-size: 36px;
  font-weight: 100;
  color: rgb(116, 113, 113);
}
.footer {
  display: flex;
  flex-direction: row;
  /* border: 1px solid saddlebrown; */
  margin: 32px 0px;
  color: rgb(116, 113, 113);
}
.left-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid blueviolet; */
  font-size: 32px;
  justify-content: center;
  column-gap: 24px;
}
.right-footer {
  width: 100%;
  /* border: 1px solid blueviolet; */
  display: flex;
  font-size: 32px;
  justify-content: flex-end;
  column-gap: 48px;
}
.right-box {
  justify-content: center;
  align-content: center;
}
